@font-face {
	font-family: "NormalidadCompact";
	font-display: swap;
	src: url("../fonts/NormalidadCompact-Light.woff2") format("woff2"), url("../fonts/NormalidadCompact-Light.woff") format("woff");
	font-weight: 300;
	}
@font-face {
	font-family: "NormalidadCompact";
	font-display: swap;
	src: url("../fonts/NormalidadCompact-Medium.woff2") format("woff2"), url("../fonts/NormalidadCompact-Medium.woff") format("woff");
	font-weight: 500;
	}
@font-face {
	font-family: "NormalidadCompact";
	font-display: swap;
	src: url("../fonts/NormalidadCompact-Regular.woff2") format("woff2"), url("../fonts/NormalidadCompact-Regular.woff") format("woff");
	font-weight: 400;
	}
@font-face {
	font-family: "RobotoSlab";
	font-display: swap;
	src: url("../fonts/RobotoSlab-Medium.woff2") format("woff2"), url("../fonts/RobotoSlab-Medium.woff") format("woff");
	font-weight: 500;
	}
@font-face {
	font-family: "NormalidadVar";
	font-display: swap;
	src: url("../fonts/NormalidadVar-Regular.woff2") format("woff2"), url("../fonts/NormalidadVar-Regular.woff") format("woff");
	font-weight: 400;
	}
@font-face {
	font-family: "RobotoSlab";
	font-display: swap;
	src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab-Regular.woff") format("woff");
	font-weight: 400;
	}
