@import "fonts.scss";
@import "header.scss";
@import "_inner-page-style.scss";

.mb-17 {
	margin-bottom: 17px;
}
.bold {
	font-family: 'NormalidadCompact', sans-serif;
	font-weight: 500;
}

.button {
	border-radius: 10px;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 400;
	font-size: 18px;
	transition: all .3s;
}

.button.call-us {
	background-color: #01B055;
	color: #fff;
	padding: 21px 54px;
	box-shadow: 0px 4px 12.5px 0px #00000040 inset;
}

.button.call-us:hover {
	background-color: #07803C;
}

.button.whatsapp {
	background-color: #ffffff00;
	color: #000;
	border: 1px solid #4CC75B;
	border-radius: 10px;
	padding: 21px 27px;
}

.button.whatsapp:hover {
	background-color: #01B055;
	color: #fff;
	box-shadow: 0px 4px 12.5px 0px #00000040 inset;
}

.button.telegram {
	background-color: #ffffff00;
	color: #000;
	border: 1px solid #28A4E4;
	border-radius: 10px;
	padding: 21px 30px;
}

.button.telegram:hover {
	background-color: #28A4E4;
	color: #fff;
	box-shadow: 0px 4px 12.5px 0px #00000040 inset;
}

.button.sendcont {
	background-color: #ffffff00;
	color: #4CC75B;
	border: 1px solid #4CC75B;
	border-radius: 10px;
	padding: 21px 54px;
}

.button.sendcont:hover {
	background-color: #01B055;
	color: #fff;
	padding: 21px 54px;
	box-shadow: 0px 4px 12.5px 0px #00000040 inset;
}

.button.check {
	background-color: #ffffff00;
	color: #4CC75B;
	border: 1px solid #4CC75B;
	border-radius: 10px;
	padding: 21px 24px;
}

.button.check:hover {
	background-color: #01B055;
	color: #fff;
	box-shadow: 0px 4px 12.5px 0px #00000040 inset;
	border: 1px solid #01B055;
}

.button.spisat {
	background-color: #01B055;
	color: #fff;
	border-radius: 10px;
	padding: 21px 24px;
}

.button.spisat:hover {
	background-color: #07803C;
	color: #fff;
	box-shadow: 0px 4px 12.5px 0px #00000040 inset;
}

.button.perechen-bg {
  background-color: #07803C;
  box-shadow: 0px 4px 12.5px 0px #00000040 inset;
  color: #fff;
  border-radius: 10px;
  padding: 21px 24px;
}

.button.perechen-bg:hover {
  background-color: #01B055;
  color: #fff;
}

.button.whatsapp-bg {
  background-color: #4CC75B;
  color: #fff;
  border: 1px solid #4CC75B;
  border-radius: 10px;
  padding: 21px 27px;
  box-shadow: 0px 4px 12.5px 0px #00000040 inset;
}

.button.whatsapp-bg:hover {
  border: 1px solid #4CC75B;
  background-color: initial;
  box-shadow: none;
  color: #000;
}

.button.telegram-bg {
  background-color: #28A4E4;
  color: #fff;
  border: 1px solid #28A4E4;
  border-radius: 10px;
  padding: 21px 30px;
  box-shadow: 0px 4px 12.5px 0px #00000040 inset;
}

.button.telegram-bg:hover {
  border: 1px solid #28A4E4;
  background-color: initial;
  box-shadow: none;
  color: #000;
}

body {
	font-family: 'NormalidadCompact', sans-serif;
	position: relative;
	overflow-x: hidden;
}

body.blur {
	overflow-y: hidden;
}
body.blur::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 6;
	backdrop-filter: blur(5px);
	transition: backdrop-filter 0.3s ease;
}

body.blur .header .logo {
	filter: blur(5px);
}

h1 {
	font-size: 41px;
	font-weight: 500;
	font-family: 'RobotoSlab', sans-serif;
}

h2 {
	font-size: 30px;
	font-weight: 400;
	font-family: 'RobotoSlab', sans-serif;
}

p {
	font-weight: 300;
	font-size: 23px;
	line-height: 34px;
	margin-bottom: 6px;
}
.page-wrapper {
	max-width: 1330px;
	margin: 0 auto;
	padding: 30px 45px;
	position: relative;
}

// Main screen
.bg-main {
	background: url('../img/bg.png') center center / cover no-repeat;
}
.main-screen {
	min-height: 755px;
	width: 100%;
	overflow: hidden;
}
.main-screen .container {
	padding-top: 164px;
}
.main__text-block {
	margin-bottom: 46px;
}
.bg-green {
	background-color: #5ec96b;
	border-radius: 8px;
	padding: 0 4px;
}
.buttons-block {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	gap: 14px;
}

.consultation-info {
	font-family: 'NormalidadVar', sans-serif;
	font-size: 20px;
	max-width: 610px;
	line-height: 30px;
}

.man-block {
	position: absolute;
	max-width: 690px;
	right: -90px;
	bottom: -105px;
}


// Why-us

.container.page-wrapper {
	padding: 120px 45px;
}

.why-us h2 {
	margin-bottom: 50px;
}

.reasons {
	display: flex;
	flex-direction: row;
	gap: 100px;
	margin-bottom: 120px;
}
.reasons-block {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 10px;
	width: 40%;
}
.reasons-block:nth-child(2) {
	width: 35%;
}
.reason {
	font-family: 'NormalidadVar', sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #202928;
	display: flex;
	align-items: flex-start;
}

.reason .svg__icons {
	margin-top: 6px;
	margin-right: 10px;
	width: 17px;
	height: 17px;
	fill: #01B055;
	flex-shrink: 0;
}

.checkmark {
	margin-right: 10px;
	color: #01B055;
}

// form

.form-container {
	width: 100%;
	background-color: #fbfbfb;
	border: 1px solid #D6CBC1;
	border-radius: 10px;
	padding: 20px 80px 34px 40px;
	margin-bottom: 116px;
}

.form-container .contact-form h2 {
	font-family: 'NormalidadCompact', sans-serif;
	font-size: 25px;
	font-weight: 500;
	margin: 0;
}

.form-container .contact-form p {
	font-size: 20px;
	margin-bottom: 6px;
}
.form-container .contact-form form {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.form-container .contact-form input[type="text"] {
	width: 350px;
	padding: 10px;
	border-bottom: 1px solid #D6CBC1;
	background-color: #00000000;
	font-size: 18px;
	font-family: 'NormalidadVar', sans-serif;
}
.form-container .contact-form input[type="text"]::placeholder {
	color: #D6CBC1;
}
.form-container .contact-form .checkbox {
	width: 100%;
	font-family: 'NormalidadVar', sans-serif;
	font-size: 15px;
}
.form-container .contact-form .button.sendcont {
	width: 350px;
}
.checkbox {
	display: flex;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	font-size: 16px;
	user-select: none;
}

.checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox .checkmark {
	position: absolute;
	top: -5px;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #FBFBFB;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
}

.checkbox-container:hover input~.checkmark {
	background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
	background-color: #2196F3;
	border-color: #2196F3;
}

.checkbox .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox input:checked~.checkmark:after {
	display: block;
}

.checkbox .checkmark:after {
	left: 8px;
	top: 5px;
	width: 7px;
	height: 12px;
	border: solid #000;
	border-width: 0 3px 3px 0;
	border-radius: 2px;
	transform: rotate(45deg);
}
.iti--separate-dial-code .iti__selected-flag {
	background-color: #00000000 !important;
}
.iti {
	border-bottom: 1px solid #D6CBC1;
	display: flex !important;
	align-items: center;
	width: 350px;
}
.iti--separate-dial-code .iti__selected-dial-code {
	display: none;
}
.iti input[type=tel]::placeholder {
	color: #000;
}
.iti input[type=tel] {
	font-family: 'NormalidadVar', sans-serif;
	font-size: 18px;
	background-color: #00000000;
}

.iti__flag {
	order: 1;
}

.iti__arrow {
	margin-right: 10px;
	border-left: 6px solid transparent !important;
	border-right: 6px solid transparent !important;
	border-top: 7px solid #202928 !important;
}

.iti__arrow--up {
	border-bottom: 7px solid #202928 !important;
	border-top: none !important;
}

.iti__selected-flag {
	padding-left: 0 !important;
}

// Under key

.under-key {
	margin-bottom: 90px;
}
.key-blocks {
	display: flex;
	gap: 30px;
}
.key-item {
	width: 36%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.key-item img {
	max-width: 130px;
	height: 130px;
	margin-bottom: 10px;
}
.key-item p {
	text-align: center;
	font-family: 'NormalidadVar', sans-serif;
	font-size: 20px;
}

// Check

.check {
	width: 100%;
	background-color: #000000;
	border-radius: 15px;
	overflow: hidden;
}
.check-bg {
	background: url('../img/table.png') no-repeat;
	background-position: 102% 7%;
	background-size: 65%;
	background-repeat: no-repeat;
	padding: 10px;
	position: relative;
}
.check-bg::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000091;
	z-index: 1;
}
.check .check-container {
	border: 1px solid #5EC991;
	border-radius: 15px;
	padding: 20px 42px 46px;
	position: relative;
	z-index: 2;
}

.check .check-container h2 {
	color: #FFFBFB;
	line-height: 36px;
	max-width: 640px;
	margin-bottom: 10px;
}

.check .check-container p {
	font-family: 'NormalidadVar', sans-serif;
	color: #FFFBFB;
	font-size: 20px;
	max-width: 640px;
	line-height: 28px;
	margin-bottom: 58px;
}

.check .check-container .button.check {
	display: inline-block;
	text-align: center;
	width: 250px;
}

// Stage

.stage {
	background: url('../img/man-pen.png') no-repeat;
	background-position: 122% 7%;
	background-size: 54%;
	position: relative;
}

.stage::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fbf7f7;
	opacity: 0.5;
}

.stage .container h2 {
	text-align: center;
	margin-bottom: 60px;
}
.stage .container.page-wrapper {
	padding: 60px 45px;
}

.stage .container .stage-block {
	width: 100%;
	border: 1px solid #D6CBC1;
	padding: 40px 97px;
	border-radius: 10px;
	margin-bottom: 60px;
	position: relative;
}
.stage-block::after {
	content: '';
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 15px;
}
.stage-block-flex {
	display: flex;
	gap: 64px;
	position: relative;
	z-index: 3;
}

.stage-block .stage-element p {
	font-family: 'NormalidadVar', sans-serif;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 23px;
	min-height: 72px;
}

.stage-block .stage-element .number {
	font-family: "RobotoSlab", sans-serif;
	font-weight: 400;
	font-size: 21px;
	background-color: #01B055;
	display: flex;
	width: 35px;
	height: 35px;
	border-radius: 22px;
	align-items: center;
	justify-content: center;
	color: #fff;
	flex-shrink: 0;
}

.step-line {
	width: 100%;
	border: 3px #01B055 dashed;
	border-left: none;
	height: 100px;
	margin: -18px 15px -18px;
	position: relative;
	z-index: 2;
}

.stage-block .stage-block-flex.two .stage-element p {
	margin: 0;
}

.stage-block .stage-block-flex.two .stage-element .number {
	margin-bottom: 23px;
}

.stage-block .stage-element {
	width: 32%;
}

.stage .button-block {
	text-align: center;
}
.stage .button.spisat {
	display: inline-block;
	text-align: center;
	width: 250px;
	margin-bottom: 40px;
}
.stage .lite-font {
	font-family: 'NormalidadVar', sans-serif;
	font-size: 17px;
	line-height: 27px;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}

//dolgi

.dolgi .container.page-wrapper {
	padding: 124px 45px;
}

.dolgi .dolgi-block {
	display: flex;
	gap: 30px;
}

.dolgi .dolgi-item {
	background-color: #01B055;
	padding: 4px;
	border-radius: 15px;
	width: 50%;
}
.dolgi .dolgi-item .dolgi-wrapper {
	border: 1px solid #5EC991; 
	border-radius: 15px;
	padding: 29px 10px;
	height: 100%;
}

.dolgi .dolgi-item .dolgi-wrapper h2 {
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	margin-bottom: 30px;
}
.dolgi-wrapper {
	position: relative;
}
.dolgi-wrapper .dolgi-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.dolgi-wrapper .dolgi-text > span {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	line-height: 25px;
}

.dolgi-wrapper .dolgi-text > span .svg__icons.okey {
	fill: #5EC991;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	flex-shrink: 0;
	vertical-align: top;
}

.dolgi-wrapper img {
	position: absolute;
	right: 0;
	bottom: 0;
}

.dolgi-wrapper .dolgi-text > span .svg__icons.close {
	fill: #B32424;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	flex-shrink: 0;
	vertical-align: top;
}
















///
/// FAQ Page
/// 

.gfaq {
	max-width: 1240px;
	margin: 0 auto;
	padding: 150px 0 90px;

	.svg__icons {
		width: 18px;
		height: 18px;
		fill: #01B055;
		transition: all 0.3s ease;
		flex-shrink: 0;
	}
	&__title {
		font-family: 'RobotoSlab', sans-serif;
		font-weight: 400;
		text-align: center;
		color: #202928;
    margin-bottom: 65px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 31px;
	}

	&__item {
		background: #f9f9f9;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0px 0px 31.5px 0px #0000001A;
		.gfaq__open {
			display: block;
		}

		.gfaq__close {
			display: none;
		}

		&--active {
			.gfaq__question {
				background: #01B055;
				color: #fff;
			}

			.svg__icons {
				fill: #DAF3E6;
				transform: rotate(225deg);
			}

			.gfaq__open {
				display: none;
			}

			.gfaq__close {
				display: block;
			}

			.gfaq__answer {
        padding: 20px 92px 20px 20px;
        max-height: 100%;
			}
		}
	}

	&__question {
		width: 100%;
		background: #fff;
    display: flex;
		justify-content: space-between;
		align-items: center;
		color: #202928;
		font-family: 'NormalidadCompact', sans-serif;
		font-weight: 500;
    padding: 20px 23px 20px 20px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    transition: all 0.3s ease;
	}

	&__answer {
		overflow: hidden;
		background: #fff;
		font-family: 'NormalidadVar', sans-serif;
		max-height: 0;
    font-size: 20px;
		line-height: 30px;
    padding: 0 92px 0 20px;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
		p {
			font-size: 20px;
			line-height: 31px;
			margin-bottom: 0;
		}
	}
}

///
/// DOCS Page
/// 
.gdocs {
	max-width: 1240px;
	margin: 0 auto;
	padding: 150px 0 90px;

	&__title {
		font-family: 'RobotoSlab', sans-serif;
		font-weight: 400;
		color: #202928;
    margin-bottom: 65px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
    background: #f8f8f8;
    border-radius: 10px;
		gap: 45px;
		margin-bottom: 80px;
	}

	&__left-side {
		flex: 1;
		max-width: 47%;
		font-family: "NormalidadVar", sans-serif;
		p {
			font-size: 20px;
			line-height: 32px;
		}
	}

	&__info-title {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	&__info-text {
		margin-bottom: 43px;
	}

	&__right-side {
		flex: 1;
		display: flex;
		justify-content: right;
		position: relative;
	}

	&__image {
		width: 98.5%;
    height: 88%;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			width: 98%;
			border: 1px solid #01B055;
			border-radius: 10px;
			top: 5px;
			left: 6px;
			height: 97%;
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: 15px;
			box-shadow: 0px 0px 31.5px 0px rgba(0, 0, 0, 0.1);
			filter: brightness(80%);
			object-fit: cover;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-bottom: 118px;
	}

	&__item {
		display: flex;
		border-bottom: 1px solid rgba(239, 231, 231, 1);
		padding-bottom: 30px;
		gap: 40px;
		align-items: center;
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	&__item-title {
		width: 55%;
		display: flex;
		align-items: center;
	}

	&__icon {
		width: 26px;
		height: 26px;
		fill: #01B055;
		flex-shrink: 0;
		margin-right: 25px;
	}	

	&__text {
		font-size: 20px;
		line-height: 27px;
	}

	&__note {
		font-size: 18px;
		font-family: "NormalidadVar", sans-serif;
		line-height: 23px;
		width: 56%;
	}

	&__service {
		width: 100%;
		// max-height: 184px;
		background-color: #202928;
		border-radius: 15px;
		overflow: hidden;
	}

	&__bg {
		background: url(../img/doc-stack.png) no-repeat;
		background-position: 100% 7%;
		background-size: 47.5%;
		background-repeat: no-repeat;
		padding: 5px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}

	&__container {
		border: 1px solid #5EC991;
		border-radius: 15px;
		padding: 25px 524px 18px 25px;
		position: relative;
		z-index: 2;

		p {
			font-family: "NormalidadVar", sans-serif;
			color: #FFFBFB;
			font-size: 20px;
			max-width: 640px;
			line-height: 31px;
		}
	}
	
	.svg__icons {
		width: 18px;
		height: 18px;
		fill: #01B055;
		transition: all 0.3s ease;
		flex-shrink: 0;
	}
}
@media (max-width: 1310px) {
	.gdocs__bg {
    background-size: 50%;
	}
}

@media (max-width: 1253.98px) {
	.gdocs__bg {
    background-size: 60%;
	}
}

@media (max-width: 1145px) {
	.gdocs {
		padding: 114px 0 22px;
	}
	.gdocs__title {
		margin-bottom: 44px;
	}
	.gdocs__info {
    margin-bottom: 75px;
}
	.gdocs__info-text {
		margin-bottom: 10px;
	}



	.gdocs__left-side p {
		font-size: 16px;
		line-height: 26px;
	}
	.gdocs__list {
    gap: 19px;
    margin-bottom: 0;
	}

	.gdocs__item {
    padding-bottom: 11px;
    gap: 40px;
	}

	.gdocs__item-title {
    margin-bottom: 9px;
	}

	.gdocs__text {
    font-size: 16px;
    line-height: 22px;
	}


	.gdocs__service {
		display: none;
	}
}
@media (max-width: 960px) {
	.gdocs__image {
		width: 96%;
		height: 98%;
	}
	.gdocs__image img {
		border-radius: 10px;
	}
	.gdocs__image::after {
    top: 4px;
    left: 4px;
	}

	

	.gdocs__icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
	}
	.gdocs__note {
    font-size: 15px;
    line-height: 20px;
    margin-left: 95px;
		margin-top: -10px;
	}
}

@media (max-width: 876px) {	
	.gdocs {
		padding: 68px 0 31px;
	}
	.gdocs__title {
		margin-bottom: 35px;
	}
}

@media (max-width: 780px) {
	.gdocs__info {
		flex-wrap: wrap;
		margin-bottom: 60px;
		gap: 14px;
	}
	.gdocs__left-side {
		flex: none;
    max-width: none;
		width: 100%;
	}
	.gdocs__right-side {
		flex: none;
		width: 100%;
	}
	.gdocs__image {
		width: 100%;
		height: 280px;
	}
	.gdocs__image::after {
		top: 5px;
		left: 6px;
		border-radius: 7px;
    height: 96%;
	}
	.gdocs__item {
		padding-bottom: 20px;
		gap: 10px;
		flex-wrap: wrap;
	}
	.gdocs__item-title {
		margin-bottom: 0px;
		width: 100%;
	}
	.gdocs__note {
		width: 85%;
		margin: 0 0 0 40px;
	}
}

@media (max-width: 480px) {
	.gdocs {
		padding: 64px 0 28px;
	}
	.gdocs__info {
		margin-bottom: 50px;
	}
	.gdocs__left-side {
		width: 95%;
	}
	.gdocs__image {
		height: 220px;
	}
	.gdocs__image::after {
		top: 5px;
		left: 5px;
		height: 95%;
	}
}

@media (max-width: 355px) {	
	.gdocs__image::after {
		width: 96%;
	}
}

@media (max-width: 320px) {
	.gdocs {
		padding: 55px 0 27px;
	}
	.gdocs__title {
		margin-bottom: 25px;
	}
	.gdocs__info {
		margin-bottom: 40px;
	}
	.gdocs__left-side {
		width: 100%;
	}
	.gdocs__left-side p {
		font-size: 15px;
		line-height: 24px;
	}
	.gdocs__image {
		height: 200px;
	}
}





// Services fizlica

.main-services .container.page-wrapper {
	padding-top: 180px;
	padding-bottom: 60px;
}

.main-services h2 {
	margin-bottom: 60px;
}

.main-services h1 {
	font-family: "NormalidadCompact", sans-serif;
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 20px;
}

.main-services p {
	font-family: 'NormalidadVar', sans-serif;
	font-size: 20px;
	line-height: 32px;
}

.services__information {
	background: url('../img/abstact-bg.jpg') center center / cover no-repeat;
	position: relative;
}

.services__information::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #01B055AD;
	z-index: 0;
}

.services__information .container.page-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

.services__information .services__text {
	position: relative;
	z-index: 1;
}

.services__information .services__text p {
	font-weight: 500;
	font-size: 21px;
	line-height: 30px;
	color: #fff;
	max-width: 922px;
}

.services__information .services__text img {
	position: absolute;
	max-width: 175px;
	width: 100%;
	top: -60px;
	right: 100px;
	transform: rotate(10deg);
}

// Procedure

.services__procedure .container.page-wrapper {
	padding-top: 120px;
	padding-bottom: 120px;
}

.services__procedure h2 {
	font-family: "NormalidadCompact", sans-serif;
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 20px;
	max-width: 50%;
}

.services__procedure .services__procedure-block {
	display: flex;
	gap: 32px;
}

.services__procedure .services__procedure-block .procedure-block {
	width: 50%;
}

.services__procedure-block .procedure-block .element-wrapper {
	display: flex;
	align-items: center;
	gap: 30px;
	border: 1px solid #D6CBC1;
	background-color: #FBF7F7;
	padding: 25px;
	border-radius: 15px;
	margin-bottom: 30px;
}

.services__procedure-block .procedure-block .element-wrapper .procedure-text .procedure-title{
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	color: #01B055;
	margin-bottom: 10px;
}

.services__procedure-block .procedure-block .element-wrapper .procedure-text .procedure-description {
	font-family: 'NormalidadVar', sans-serif;
	font-size: 20px;
	line-height: 28px;
	color: #202928;
	margin-bottom: 0px;
}

.services__procedure-block .procedure-block .element-wrapper:last-child {
	margin-bottom: 0;
}

.procedure-block .element-wrapper .procedure-img {
	width: 50px;
}

.procedure-block .element-wrapper .procedure-img .svg__icons {
	width: 50px;
	height: 50px;
	fill: #5EC991;
}

.services__procedure .services__procedure-block .procedure-image {
	width: 50%;
	position: relative;
}

.services__procedure-block .procedure-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
	filter: brightness(80%);
}

.services__procedure-block .procedure-image::after {
	content: '';
	position: absolute;
	width: 98%;
	border: 1px solid #01B055;
	border-radius: 15px;
	top: 5px;
	left: 5px;
	height: 98%;
}

.sevices__summa {
	padding-top: 120px;
	padding-bottom: 120px;
}

.services__summa-block {
	display: flex;
	gap: 100px;
  margin-bottom: 60px;
}

.services__summa-block .summa-block h2 {
	max-width: 100%;
}

.services__summa-block .summa-block {
	width: 50%;
}

.services__summa-block .summa-block .summa-block-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.services__summa-block .summa-block .element-wrapper {
	display: flex;
	align-items: center;
	gap: 24px;
	max-width: 475px;
	border-radius: 10px;
	box-shadow: 0px 0px 31.5px 0px #0000001A;
	padding: 16px 35px 16px 25px;
}

.services__summa-block .summa-block .element-wrapper .summa-title {
	font-size: 20px;
	line-height: 32px;
	font-weight: 500;
	color: #01B055;
	margin-bottom: 0;
}

.services__summa-block .summa-block .element-wrapper .summa-description {
	font-family: 'NormalidadVar', sans-serif;
	font-size: 20px;
	line-height: 32px;
	color: #202928;
}

.services__summa-block .summa-block .element-image img {
	max-width: 475px;
	width: 100%;
	height: 111px;
	object-fit: cover;
	border-radius: 10px;
}

.services__summa-block .summa-block.second h2 {
  margin-bottom: 20px;
}

.services__summa-block .summa-block.second p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #5D6362;
  margin-bottom: 20px;
}

.services__summa-block .summa-block.second li {
  display: flex;
  gap: 13px;
  margin-bottom: 32px;
}

.services__summa-block .summa-block.second li:last-child {
  margin-bottom: 0;
}

.services__summa-block .summa-block.second li .svg__icons {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  margin-top: 6px;
  fill: #01B055;
}

.services__summa-block .summa-block.second li span {
  font-family: 'NormalidadVar', sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.sevices__summa .buttons-block {
  justify-content: center;
  gap: 32px;
  margin-bottom: 0;
}


// Perechen

.services__perechen {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
      url(../img/bookshelfs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 20px;
  padding: 40px 70px 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__perechen::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 20px;
  background-color: #00ac42d8;
  z-index: 0;
}

.services__perechen h2 {
  max-width: 100%;
  color: #fff;
}

.services__perechen .perechen-text,
.services__perechen img,
.services__perechen a {
  position: relative;
  z-index: 1;
}

.services__perechen .perechen-text .perechen-description {
  font-size: 21px;
  line-height: 31px;
  font-weight: 300;
  color: #fff;
  max-width: 570px;
  margin: 0;
}

.services__perechen img {
  position: absolute;
  right: 370px;
}

.services__perechen .button.perechen-bg {
  display: inline-block;
  text-align: center;
  width: 270px;
}


// dolzhnik

.services__dolzhnik {
  background: #FBF7F7;
}

.services__dolzhnik .container.page-wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
}

.services__dolzhnik h2 {
  font-weight: 500;
  text-align: center;
  max-width: 820px;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 40px;
}

.services__dolzhnik p {
  text-align: center;
  color: #5D6362;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.dolzhnik-line-block {
  position: relative;
}

.dolzhnik-line-block .dolzhnik-element {
  background-color: #fff;
  box-shadow: 0px 0px 31.5px 0px #0000001A;
  padding: 20px;
  border-radius: 20px;
  max-width: 562px;
  margin-bottom: 20px;
}

.dolzhnik-line-block .dolzhnik-element.two {
  margin-left: auto;
  margin-right: 56px;
  position: relative;
  z-index: 1;
}

.dolzhnik-line-block .dolzhnik-element p {
  margin: 0;
  color: #202928;
  font-size: 20px;
  line-height: 30px;
}

.dolzhnik-line-block .dolzhnik-element p .brown {
  color: #B36A3C;
}

.dolzhnik-line-block img {
  position: absolute;
}

.dolzhnik-line-block .line-one {
  top: 30%;
  right: 49%;
}

.dolzhnik-line-block .line-two {
  top: 63%;
  left: 60%;
}

.dolzhnik-line-block .dolzhnik-element.tree {
  margin-right: auto;
  margin-left: 200px;
  position: relative;
  z-index: 1;
}



















///footer
.footer {
	background-color: #202928;
}
.footer .logo img{
	max-width: 180px;
	width: 100%;
}
.footer .logo {
	margin-bottom: 20px;
}
.footer .footer-block {
	display: flex;
	justify-content: space-between;
}
.footer .footer-element .links {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.footer .footer-element .links a {
	color: #A48A8A;
	font-family: 'NormalidadVar', sans-serif;
	font-size: 14px;
	transition: all .3s;
}

.footer .footer-element .links a:hover {
	color: #ffffff;
}

.footer-element .footer-menu{
	column-count: 2;
}
.footer-element .footer-menu li {
	margin-bottom: 8px;
	margin-right: 40px;
}
.footer-element .footer-menu li a {
	color: #FFFBFB;
	font-family: 'NormalidadVar', sans-serif;
	font-size: 15px;
	transition: all .3s;
}

.footer-element .footer-menu li a:hover {
	color: #01B055;
}

.footer-element .info .info-item {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

.footer-element .info .info-item span {
	font-family: 'NormalidadVar', sans-serif;
	font-size: 15px;
	color: #01B055;
	text-align: right;
	max-width: 90px;
	width: 100%;
}

.footer-element .info .info-item div a,
.footer-element .info .info-item div p {
	color: #fff;
	font-family: 'NormalidadVar', sans-serif;
	font-size: 17px;
	line-height: 25px;
	transition: all .3s;
}

.footer-element .info .info-item div a:hover ,
.footer-element .info .info-item div p:hover {
	color: #01B055;
}
.footer-element .info .info-item .infos {
	max-width: 340px;
}
.footer-element .info .info-item .icons-socials.main {
	display: flex;
	gap: 10px;
}

.footer-element .info .info-item .icons-socials.main .icons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33px;
	height: 33px;
	border-radius: 50px;
}

.footer-element .info .info-item .icons-socials.main .icons.ws {
	background-color: #4CC75B;
	transition: all 0.3s ease;
}

.footer-element .info .info-item .icons-socials.main .icons.tg {
	background-color: #28A4E4;
	transition: all 0.3s ease;
}

.footer-element .info .info-item .icons-socials.main .svg__icons {
	width: 15px;
	height: 15px;
	fill: #fff;
}

.footer-element .info .info-item .icons-socials.main a:hover .icons.ws {
	background-color: #15531d;
}

.footer-element .info .info-item .icons-socials.main a:hover .icons.tg {
	background-color: #125577;
}

.footer-element .info .info-item:last-child {
	align-items: center;
}
















@media (max-width: 1325px) {
	.form-container .contact-form .button.sendcont {
		width: 250px;
		padding: 21px 20px;
	}
	.services__information .services__text img {
		right: 0;
	}
}

@media (max-width: 1275px) {
  .services__perechen img {
    max-width: 115px;
    right: 342px;
  }
}


@media (max-width: 1225px) {
	.man-block {
		right: -190px;
	}
	.form-container .contact-form .button.sendcont {
		width: 220px;
	}
	.iti {
		width: 310px;
	}
	.form-container .contact-form input[type=text] {
		width: 310px;
	}
}

@media (max-width: 1145px) {
	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 25px;
	}

	.buttons-block {
		gap: 20px;
		position: relative;
		z-index: 1;
	}
	.main-screen {
		min-height: 515px;
	}
	.main-screen .container {
		padding-top: 107px;
	}
	.main-screen .container.page-wrapper {
		padding-top: 200px;
		padding-bottom: 143px;
	}
	.man-block {
		right: -150px;
		bottom: -85px;
		max-width: 580px;
		opacity: 0.3;
	}
	.button.whatsapp,
	.button.telegram {
		display: none;
	}
	.icons-socials.main {
		display: flex;
		gap: 20px;
	}

	.icons-socials.main a {
		font-size: 0px;
		padding: 0;
		width: auto;
	}

	.icons-socials.main .icons {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 50px;
	}

	.icons-socials.main .icons.ws {
		background-color: #4CC75B;
		transition: all 0.3s ease;
	}

	.icons-socials.main .icons.tg {
		background-color: #28A4E4;
		transition: all 0.3s ease;
	}

	.icons-socials.main .svg__icons {
		width: 24px;
		height: 24px;
		fill: #fff;
	}

	.icons-socials.main a:hover .icons.ws {
		background-color: #15531d;
	}

	.icons-socials.main a:hover .icons.tg {
		background-color: #125577;
	}

	.consultation-info {
		display: none;
	}

	// Why-us
	.container.page-wrapper {
		padding: 80px 45px;
	}

	.why-us h2 {
		margin-bottom: 40px;
	}

	.reasons {
		gap: 35px;
		margin-bottom: 80px;
	}

	.reasons-block {
		width: 50%;
	}

	.reasons-block:nth-child(2) {
		width: 50%;
	}

	.reason {
		font-size: 16px;
		line-height: 26px;
	}

	.form-container {
		padding: 30px;
	}

	.form-container .contact-form .button.sendcont {
		width: 230px;
	}
	.iti {
		width: 250px;
	}
	.form-container .contact-form input[type=text] {
		width: 250px;
	}
	.step-line {
		display: none;
	}
	.stage-block-flex {
		flex-wrap: wrap;
	}
	.stage .container .stage-block {
		padding: 36px;
		width: 80%;
		margin-bottom: 40px;
	}
	.stage-block .stage-element {
		position: relative;
	}

	.stage-block .stage-element .number {
		z-index: 2;
		position: relative;
	}
	.stage-block .stage-element {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 36px;
	}
	.stage-block .stage-element:first-child::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		border-left: 1px #01B055 solid;
		height: 100px;
		margin: -18px 15px -18px;
		z-index: 1;
		margin-top: 50px;
	}
	.stage-block .stage-element::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
    border-left: 1px #01B055 solid;
    height: 164px;
    margin: -18px 15px -18px;
    z-index: 1;
		margin-top: 50px;
	}
	.stage-block-flex.two .stage-element:first-child::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		border-left: 1px #01B055 solid;
		height: 20px;
		margin: -18px 15px -18px;
		z-index: 1;
	}
	.stage-block-flex.two .stage-element:last-child::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		border-left: 1px #01B055 solid;
		height: 180px;
		margin: -18px 15px -18px;
		z-index: 1;
		// margin-bottom: 50px;
	}
	.stage-block-flex.two .stage-element:nth-child(1){
		order: 3;
	}
	.stage-block-flex.two .stage-element:nth-child(2) {
		order: 2;
	}
	.stage-block-flex.two .stage-element:nth-child(3) {
		order: 1;
	}

	.stage-block .stage-element .number {
		order: 0;
		width: 35px;
	}
	.stage-block .stage-element p {
		order: 1;
		min-height: auto;
		margin: 0;
		font-size: 18px;
		width: 60%;
	}
	.stage-block-flex {
		gap: 50px;
	}
	.stage-block .stage-block-flex.two .stage-element .number {
		margin: 0;
	}
	.stage-block-flex.two {
		margin-top: 50px;
	}
	.stage {
		background-position: center;
		background-size: cover;
	}

	.stage .lite-font {
		font-size: 15px;
		line-height: 25px;
	}

	.stage .button.spisat {
		margin-bottom: 20px;
	}
	.stage .container h2 {
		margin-bottom: 30px;
		text-align: left;
	}
	.dolgi .container.page-wrapper {
		padding: 80px 45px;
	}
	.dolgi .dolgi-item .dolgi-wrapper h2 {
		font-size: 23px;
		line-height: 30px;
	}

	.dolgi-wrapper .dolgi-text > span {
		font-size: 16px;
		line-height: 20px;
	}
	.footer-element .footer-menu li {
		margin-right: 0;
	}
	.main-services .container.page-wrapper {
		padding-top: 170px;
		padding-bottom: 30px;
	}
	.main-services h2 {
		margin-bottom: 30px;
	}
	.main-services h1 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.main-services p {
		font-size: 16px;
		line-height: 24px;
	}
	.services__information .container.page-wrapper {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.services__information .services__text p {
		max-width: 700px;
		font-size: 18px;
		line-height: 28px;
	}

	.services__information .services__text img {
		max-width: 118px;
		top: -30px;
	}

	.services__procedure h2 {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 30px;
		max-width: 60%;
	}

	.services__procedure .container.page-wrapper {
		padding-top: 80px;
    padding-bottom: 80px;
	}

	.services__procedure-block .procedure-block .element-wrapper {
		gap: 20px;
		padding: 10px;
		margin-bottom: 20px;
	}

	.procedure-block .element-wrapper .procedure-img .svg__icons,
	.procedure-block .element-wrapper .procedure-img {
		width: 35px;
	}

	.services__procedure .services__procedure-block .procedure-block {
		width: 60%;
	}

	.services__procedure .services__procedure-block .procedure-image {
		width: 40%;
	}

	.services__procedure-block .procedure-block .element-wrapper .procedure-text .procedure-title,
	.services__procedure-block .procedure-block .element-wrapper .procedure-text .procedure-description {
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 0;
	}

	.services__procedure .services__procedure-block {
		gap: 45px;
	}

  .sevices__summa {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .services__summa-block {
    gap: 30px;
    margin-bottom: 40px;
  }

  .services__summa-block .summa-block.second h2 {
    margin-bottom: 30px;
  }

  .services__summa-block .summa-block .element-wrapper {
    padding: 10px;
  }

  .services__summa-block .summa-block .element-wrapper .summa-title {
    font-size: 16px;
    line-height: 28px;
  }

  .services__summa-block .summa-block .element-wrapper .summa-description {
    font-size: 16px;
    line-height: 28px;
  }

  .services__summa-block .summa-block .element-image img {
    height: 90px;
  }

  .services__summa-block .summa-block.second p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .services__summa-block .summa-block.second li span {
    font-size: 16px;
    line-height: 28px;
  }

  .services__summa-block .summa-block.second li {
    margin-bottom: 10px;
  }

  .services__perechen {
    padding: 20px;
  }

  .services__perechen h2 {
    max-width: 100%;
    margin-bottom: 6px;
  }

  .services__perechen .perechen-text .perechen-description {
    font-size: 17px;
    line-height: 27px;
    max-width: 420px;
  }

  .services__perechen .button.perechen-bg {
    width: 245px;
  }

  .services__perechen img {
    right: 280px;
    max-width: 138px;
  }

  .dolzhnik-line-block .line-two {
    left: 70%;
  }
}

@media (max-width: 960px) {
	.form-container {
		margin-bottom: 80px;
	}
	.key-blocks {
		flex-wrap: wrap;
	}
	.key-item {
		width: 30%;
	}
	.under-key {
		margin-bottom: 80px;
	}
	.check .check-container p {
		font-size: 16px;
		line-height: 22px;
		max-width: 425px;
	}
	.check-bg {
		padding: 5px;
	}
	.check .check-container {
		padding: 20px;
	}
	.footer .footer-block {
		flex-wrap: wrap;
	}
	.footer-element:first-child {
		width: 50%;
	}
	.footer-element:last-child {
		margin-top: 40px;
		width: 100%;
	}
	.footer-element:last-child .info{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
	.footer-element:last-child .info .info-item:nth-child(1) {
		order: 0;
	}
	.footer-element:last-child .info .info-item:nth-child(2) {
		order: 2;
		width: 100%;
	}
	.footer-element:last-child .info .info-item:nth-child(3) {
		order: 1;
	}
	.footer-element .info .info-item span {
		width: 100%;
		max-width: 100%;
		text-align: left;
	}
	.footer-element .info .info-item {
		flex-direction: column;
		margin-bottom: 20px;
	}
	.footer-element .info .info-item .icons-socials.main .icons {
		width: 48px;
		height: 48px;
	}
	.footer-element .info .info-item .icons-socials.main .svg__icons {
		width: 23px;
		height: 23px;
	}
	.footer-element .info .info-item:last-child {
		text-align: left;
	}
	.services__information .services__text p {
		max-width: 600px;
	}

  .services__dolzhnik h2 {
    font-size: 20px;
    line-height: 30px;
    max-width: 550px;
  }

  .services__dolzhnik p {
    font-size: 16px;
    line-height: 24px;
    max-width: 630px;
    margin-bottom: 30px;
  }

  .dolzhnik-line-block .dolzhnik-element {
    padding: 10px;
    z-index: 1;
    position: relative;
  }

  .dolzhnik-line-block .dolzhnik-element p {
    font-size: 16px;
    line-height: 24px;
  }

  .dolzhnik-line-block .dolzhnik-element.two {
    max-width: 380px;
  }

  .dolzhnik-line-block .dolzhnik-element.tree {
    margin-left: 50px;
  }

  .services__dolzhnik .container.page-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .dolzhnik-line-block .line-one {
    top: 19%;
    right: 29%;
  }

  .dolzhnik-line-block .line-two {
    left: 27%;
    top: 44%;
  }

  .gfaq {
    padding-top: 114px;
    padding-bottom: 50px;
  }

  .gfaq__title {
    margin-bottom: 45px;
  }

  .gfaq__answer {
    padding: 0 33px 0 10px;
  }
  .gfaq__item--active .gfaq__answer {
    padding: 10px 33px 10px 10px;
  }
  .gfaq__question {
    padding: 10px;
  }
  .gfaq__question,
  .gfaq__answer p {
    font-size: 14px;
    line-height: 22px;
  }

  .gfaq__list {
    gap: 20px;
  }
}

@media (max-width: 945px) {
	.form-container .contact-form .button.sendcont {
		width: 220px;
		background-color: #01B055;
		color: #fff;
	}
	.iti {
		width: 210px;
	}
	.form-container .contact-form input[type=text] {
		width: 210px;
	}

  .services__perechen img {
    display: none;
  }
}

@media (max-width: 900px) {
  .dolzhnik-line-block img {
    display: none;
  }
  .dolzhnik-line-block .dolzhnik-element {
    margin: 0 !important;
    margin-bottom: 20px !important;
    max-width: 100% !important;
  }
  .dolzhnik-line-block .dolzhnik-element p {
    max-width: 100%;
  }
  .dolzhnik-line-block .dolzhnik-element p br {
    display: none;
  }
}

@media (max-width: 876px) {
  .page-wrapper {
    padding: 28px 45px;
  }

  .services__information .services__text p {
    max-width: 100%;
  }

  .services__information .services__text img {
    display: none;
  }
}

@media (max-width: 835px) {
	.form-container .contact-form form {
		flex-direction: column;
	}

	.form-container .contact-form .button.sendcont {
		width: 100%;
		order: 4;
	}

	.iti {
		width: 92%;
		padding: 10px;
		order: 1;
	}

	.form-container .contact-form input[type=text] {
		width: 100%;
		order: 0;
	}

	.form-container .contact-form .checkbox {
		order: 3;
	}

	.form-container .contact-form p {
		margin-bottom: 20px;
	}
	.key-item {
		width: 47%;
	}

  .services__perechen {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

@media (max-width: 780px) {
	.check-bg {
		background-size: 85%;
	}
	.services__procedure .container.page-wrapper {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.services__procedure h2 {
		max-width: 100%;
	}

	.services__procedure .services__procedure-block {
		flex-wrap: wrap;
	}

	.services__procedure .services__procedure-block .procedure-block,
	.services__procedure .services__procedure-block .procedure-image {
		width: 100%;
	}

	.services__procedure .services__procedure-block .procedure-image {
		height: 200px;
	}

	.services__procedure-block .procedure-image::after {
		height: 94%;
	}

  .sevices__summa {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .services__summa-block {
    flex-wrap: wrap;
    gap: 60px;
  }

  .services__summa-block .summa-block {
    width: 100%;
  }

  .services__summa-block .summa-block .element-wrapper {
    width: 100%;
    max-width: 100%;
  }
  .services__summa-block .summa-block .element-image img {
    max-width: 100%;
    height: 110px;
  }

  .services__summa-block .summa-block.second h2 {
    margin-bottom: 20px;
  }
  .sevices__summa .buttons-block a {
    width: 100%;
    text-align: center;
  }
}


@media (max-width: 680px) {
	.stage-block .stage-element::after {
		height: 194px;
	}
	.stage-block-flex.two .stage-element:last-child::after {
		height: 230px;
	}
}


@media (max-width: 640px) {
	.main-screen {
		min-height: 771px;
	}
	.main-screen .container {
		text-align: center;
	}
	.main-screen h1{
		margin-bottom: 30px;
	}
	.man-block {
		display: none;
	}
	.main-screen .container.page-wrapper {
		padding-bottom: 126px;
	}
	.buttons-block {
		flex-direction: column;
		gap: 30px;
	}
	.button.call-us {
		padding: 18px 114px;
	}
	.icons-socials.main {
		display: none;
	}
	.button.whatsapp,
	.button.telegram {
		display: block;
		padding: 18px 87px;
	}

	.container.page-wrapper {
		padding: 60px 45px;
	}
	.reasons {
		flex-direction: column;
		gap: 10px;
		margin-bottom: 60px;
	}
	.reasons-block {
		width: 100%;
	}
	.reasons-block:nth-child(2) {
		width: 100%;
	}

	.form-container {
		margin-bottom: 60px;
	}
	.key-item {
		align-items: flex-start;
	}
	.key-item p {
		text-align: left;
		font-size: 16px;
		line-height: 22px;
	}
	.key-item img {
		max-width: 70px;
		height: 70px;
	}
	.under-key {
		margin-bottom: 60px;
	}
	.check .check-container {
		text-align: center;
	}
	.check .check-container h2,
	.check .check-container p {
		text-align: center;
		max-width: 100%;
	}
	.check .check-container p {
		margin-bottom: 263px;
	}
	.check .check-container .button.check {
		height: 60px;
		max-width: 370px;
		width: 100%;
	}
	.check-bg {
		background-size: cover;
	}
	.stage .container .stage-block {
		width: 95%;
	}
	.stage-block .stage-element p {
		font-size: 16px;
		line-height: 22px;
	}
	.stage .button.spisat {
		width: 90%;
	}
	.dolgi .dolgi-block {
		flex-wrap: wrap;
	}
	.dolgi .dolgi-item {
		width: 100%;
	}
	.dolgi .container.page-wrapper {
		padding: 50px 45px;
	}
	.iti-mobile .iti--container {
		top: 20px;
		bottom: 20px;
		left: 20px;
		right: 20px;
	}
	.iti {
		width: 94%;
	}

	.main-services .container.page-wrapper {
		padding-top: 140px;
	}
	
	.services__information .services__text p {
		font-size: 16px;
		line-height: 26px;
	}

  .services__dolzhnik .container.page-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
	
	.page-wrapper {
		padding: 28px 35px;
	}

  .gfaq {
    padding-top: 67px;
    padding-bottom: 32px;
  }

	.gfaq__title {
		margin-bottom: 46px;
	}

  .gfaq__answer {
    padding: 0 10px;
  }

  .gfaq__item--active .gfaq__answer {
    padding: 10px;
  }

  .gfaq__question {
    gap: 10px;
		line-height: 22px;
  }
}

@media (max-width: 589px) {
	.key-item {
		width: 100%;
	}
}

@media (max-width: 550px) {
	.footer .footer-element .links {
		display: none;
	}
	.footer-element:first-child {
		margin-bottom: 20px;
	}
	.footer-element:nth-child(2) {
		width: 100%;
	}
	.footer-element:last-child .info .info-item:nth-child(3) {
		order: 2;
	}
	.footer-element:last-child .info .info-item:nth-child(1) {
		width: 100%;
	}

	.services__information .services__text p {
		font-size: 15px;
		line-height: 25px;
	}
}


@media (min-width: 480px) {
	.footer .links-two {
		display: none;
	}
}

@media (max-width: 480px) {
	.page-wrapper {
		padding: 22px 15px;
	}
	.button.call-us {
		padding: 17px;
		width: 90%;
		font-size: 18px;
	}
	.button.whatsapp,
	.button.telegram {
		display: block;
		padding: 17px;
		width: 90%;
		font-size: 18px;
	}
	.main__text-block p {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	.main-screen {
		min-height: auto;
	}

	.container.page-wrapper {
		padding: 50px 15px;
	}
	.reason {
		font-size: 15px;
		line-height: 25px;
	}
	.reasons {
		margin-bottom: 50px;
	}
	.form-container .contact-form h2 {
		text-align: center;
	}
	.form-container .contact-form p {
		text-align: center;
	}
	.form-container {
		padding: 25px;
		margin-bottom: 50px;
	}
	.check .check-container h2 {
		font-size: 23px;
		line-height: 33px;
	}
	.stage .container .stage-block {
		width: 100%;
	}
	.stage .container.page-wrapper {
		padding: 60px 15px;
	}
	.stage .container .stage-block {
		padding: 26px;
	}
	.dolgi .container.page-wrapper {
		padding: 42px 15px;
	}
	.footer .links-two {
		display: flex;
		justify-content: space-between;
	}

	.footer .links-two a {
		color: #A48A8A;
		font-family: "NormalidadVar", sans-serif;
		font-size: 10px;
		transition: all 0.3s;
	}

	.footer .links-two a:hover {
		color: #fff;
	}

	.footer-element:last-child .info .info-item:nth-child(3) {
		margin-bottom: 34px;
	}

	.iti {
		width: 92%;
	} 

	.main-services .container.page-wrapper {
		padding-top: 130px;
	}
	.main-services p {
		font-size: 15px;
		line-height: 23px;
	}

	.services__procedure h2 {
		max-width: 380px;
	}

	.services__procedure-block .procedure-block .element-wrapper .procedure-text .procedure-title {
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 2px;
	}

	.services__procedure-block .procedure-block .element-wrapper .procedure-text .procedure-description {
		font-size: 15px;
		line-height: 22px;
	}

	.services__procedure .services__procedure-block {
		gap: 20px;
	}

	.services__procedure .services__procedure-block .procedure-image {
		height: 160px;
	}

  .services__summa-block .summa-block.second p,
  .services__summa-block .summa-block.second li span {
    font-size: 15px;
    line-height: 25px;
  }

  .services__summa-block {
    margin-bottom: 30px;
  }

  .services__perechen { 
    text-align: left;
    padding: 20px 20px 36px;
  }

  .services__perechen .button,
  .services__perechen .button.perechen-bg {
    width: 100%;
  }

  .services__perechen h2 {
    margin-bottom: 10px;
    text-align: left !important;
  }

  .services__dolzhnik p,
  .dolzhnik-line-block .dolzhnik-element p {
    font-size: 15px;
    line-height: 23px;
  }

  .services__dolzhnik h2 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .services__dolzhnik p {
    margin-bottom: 20px;
  }

  .gfaq {
    padding-top: 65px;
    padding-bottom: 35px;
  }
	.gfaq__title {
		margin-bottom: 35px;
}
}

@media (max-width: 420px) {
	.why-us h2 {
		line-height: 30px;
	}
	.main-screen .container {
		text-align: left;
	}
	.page-wrapper {
		padding: 22px 15px;
	}
	.button.call-us,
	.button.whatsapp,
	.button.telegram {
		width: 100%;
		text-align: center;
	}
	.button.whatsapp,
	.button.telegram {
		display: none;
	}
	.icons-socials.main {
		display: flex;
	}
	.form-container .contact-form h2 {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 8px;
	}
	.form-container .contact-form p {
		font-size: 15px;
		line-height: 22px;
	}
	.form-container .contact-form input[type=text] {
		font-size: 14px;
	}
	.iti input[type=tel] {
		font-size: 14px;
	}

	.form-container .contact-form .checkbox {
		font-size: 14px;
	}

	.check .check-container {
		padding: 36px 10px;
	}
	.check .check-container h2 {
		font-size: 20px;
		line-height: 30px;
	}
	.check-bg {
		background-position: 84% 7%;
	}
	.stage-block .stage-element {
		gap: 12px;
	}
	.stage-block .stage-element p {
		width: 100%;
	}
	.dolgi .dolgi-item .dolgi-wrapper h2 {
		font-size: 18px;
		line-height: 28px;
	}
	.dolgi-wrapper .dolgi-text > span {
		font-size: 14px;
		line-height: 18px;
	}
	.dolgi-wrapper img {
		max-width: 160px;
	}
	.footer .links-two {
		flex-direction: column;
		gap: 10px;
	}
}
@media (min-width: 390px) {
	.bg-green:first-child {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.bg-green:last-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
@media (max-width: 340px) {
	.footer-element .info .info-item div a, .footer-element .info .info-item div p {
		font-size: 14px;
	}
}
@media (max-width: 320px) {
	.page-wrapper {
		padding: 15px 25px;
	}
	.main-screen .container {
		padding-top: 90px;
	}
	.main-screen .container.page-wrapper {
		padding-top: 139px;
		padding-bottom: 30px;
	}
	.container.page-wrapper {
		padding: 40px 15px;
	}
	h1 {
		font-size: 25px;
		line-height: 35px;
	}

	.main__text-block p {
		font-size: 18px;
		line-height: 26px;
	}

	.reasons {
		margin-bottom: 40px;
	}

	.checkbox .checkmark {
		top: 0;
	}

	.form-container {
		padding: 20px;
		margin-bottom: 40px;
	}

	.under-key {
		margin-bottom: 40px;
	}
	.stage .lite-font {
		font-size: 13px;
	}
	.iti {
		width: 89%;
	} 
	.main-services .container.page-wrapper {
		text-align: center;
		padding-top: 110px;
		padding-bottom: 20px;
	}
	.main-services h1 {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 20px;
	}

	.services__information .services__text p {
		font-size: 13px;
		line-height: 23px;
	}

	.services__procedure h2 {
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		margin-bottom: 20px;
	}

	.services__procedure-block .procedure-block .element-wrapper {
		flex-wrap: wrap;
		justify-content: center;
		gap: 0px;
	}

	.services__procedure-block .procedure-block .element-wrapper .procedure-text {
		text-align: center;
	}
	.services__procedure-block .procedure-block .element-wrapper .procedure-text .procedure-title {
		margin-bottom: 10px;
	}

  .sevices__summa {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .services__procedure .sevices__summa h2 {
    text-align: left;
  }

  .services__summa-block .summa-block .element-wrapper {
    gap: 12px;
  }

  .services__summa-block .summa-block .element-wrapper .summa-title {
    font-size: 14px;
    line-height: 27px;
  }

  .sevices__summa .buttons-block {
    gap: 20px;
  }

  .services__perechen .perechen-text .perechen-description {
    font-size: 16px;
    line-height: 27px;
  }

  .gfaq {
    padding-top: 55px;
    padding-bottom: 25px;
  }
	.gfaq__title {
		margin-bottom: 25px;
	}
}
